.escape\|random\|char {
    color: red;
}
.\34 04 {
    background: red;
}
.\34 04 strong {
    color: #ff00ff;
    font-weight: bold;
}
.trailingTest\+ {
    color: red;
}
\62\6c\6f \63 \6B \0071 \000075o\74 e {
    color: silver;
}
