  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./index.html">Bootstrap</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="{{index}}">
                <a href=".">{{_i}}Overview{{/i}}</a>
              </li>
              <li class="{{scaffolding}}">
                <a href="?scaffolding">{{_i}}Scaffolding{{/i}}</a>
              </li>
              <li class="{{base-css}}">
                <a href="?base-css">{{_i}}Base CSS{{/i}}</a>
              </li>
              <li class="{{components}}">
                <a href="?components">{{_i}}Components{{/i}}</a>
              </li>
              <li class="{{javascript}}">
                <a href="?javascript">{{_i}}Javascript plugins{{/i}}</a>
              </li>
              <li class="{{less}}">
                <a href="?less">{{_i}}Using LESS{{/i}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

{{>body}}


     <!-- Footer
      ================================================== -->
      <footer class="footer">
        <p class="pull-right"><a href="#">{{_i}}Back to top{{/i}}</a></p>
        <p>{{_i}}Designed and built with all the love in the world <a href="http://twitter.com/twitter" target="_blank">@twitter</a> by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.{{/i}}</p>
        <p>{{_i}}Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.{{/i}}</p>
        <p>{{_i}}Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.{{/i}}</p>
      </footer>

    </div><!-- /container -->

